@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 'poppins',sans-serif;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 100;
  }
}
.navbar-start{
  animation-name:ping;
  animation-duration: 2s;
}



@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


div {
  width: auto;
  height: auto;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}